.primeiraSessaoInicio{
    height: 75vh;
    width: 100%;
    background-image: ('../../assets/bannerInicio.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 6%;

    h2 {
        color: white;
        font-size: 32px;
        width: 20%;

    }
}