footer{
   
}

.contatosFooter {
    background-color: #005695;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vw;
    p{

    }
    nav{

    }

}

.direitosAutorais{
    background-color: #232020;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    p{
        color: #ffff;
    }
}